
/*===================================================================
bordo per debugging
===================================================================*/
// .grid-x {
//     border: 1px solid green;
// }
// .cell {
//     border: 1px solid red;
// }
// .grid-margin-x {
//     border: 1px solid red;
// }

// .grid-padding-x {
//     border: 1px solid blue;
// }

// .grid-padding-y {
//     border: 1px solid blue;
// }
// .grid-container {
//     border: 1px solid red;
// }
/*===================================================================
logo - cards
===================================================================*/

.img-logo {
    width: 180px;
    margin-top: 5px;
    @include breakpoint (small only) {
        width:160px;
        margin-top: 0px;
        margin-left: -4px;
    }
}

// .img-cards {
//     margin-top: 0.5rem;
//     margin-right: 1rem;
// }


$panel-2n-bg: gray;
$footer-background-color: gray;

/*===================================================================
margini
===================================================================*/

.extra-space-hero {
    margin-top: 1rem;
}
.extra-space-hamburger {
    margin-top: 1.25rem;
}
.extra-space {
    margin-top: 2rem;
}
.extra-space-modal {
    margin-top: 3rem;
}
.extra-space-footer {
    margin-top: 4rem;
}

.extra-space-image-tab-contatti {
    margin-top: 3.9rem;
    @include breakpoint (small only) {
        margin-top: 1rem;
    }
}
.extra-space-text-tab-contatti {
    margin-top: 0.35rem;
    @include breakpoint (small only) {
        margin-top: 1rem;
    }
}

.extra-space-aside-tab-immagini {
    margin-top: 1.25rem;
}
.extra-space-aside-video {
    margin-top: 1.45rem;
}
.extra-space-aside-tab-chi-siamo {
    margin-top: -0.15rem;
}
.extra-space-aside-tab-menu {
    margin-top: 3.8rem;
}
.extra-space-blog {
    margin-top: 1rem;
    @include breakpoint (small only) {
        margin-top: .5rem;
    }
}
.extra-space-img-asporto {
    margin-top: .5rem;
    @include breakpoint (small only) {
        margin-top: 0.4rem;
    }
}
.extra-space-aside {
    margin-top: 2.8rem;
}
/*the following control extra margin for blog articles and menu products detail*/
.extra-margin-first-paragraph-blog {
    margin-top: 0.8rem;
}
.extra-space-button {
    margin-top: 0.5rem;
}
.extra-space-from-tabs {
    margin-top: 0.8rem;
    @include breakpoint (small only) {
        margin-top: 0.6rem;
    }
}
.no-margin-list-bullet {
    margin-top:-1.1rem;
}
.no-margin-inline-list {
    margin-left:-22px;
}
.menu-subheader {
    margin-top:-0.7rem;
    text-transform: uppercase;
    font-size: 1.6rem;
    @include breakpoint (small only) {
        font-size: 1.35rem;
        margin-top:-0.4rem;
        line-height: 1.4rem;
    }
}

/*===================================================================
homepage
===================================================================*/

.panel-home-n {
    margin-bottom: 0;
    padding-top: 0rem;
    padding-bottom: 5rem;
    background-color: $white;
    @include breakpoint (small only) {
        margin-bottom: 0;
        padding-top: 0rem;
        padding-bottom: 3rem;
    }
}

.panel-home-2n {
    margin-bottom: 0;
    padding-top: 3rem;
    padding-bottom: 2rem;
    background-color: $very-light-gray;
    //background-color: white;
    @include breakpoint (small only) {
        margin-bottom: 0;
        padding-top: 2rem;
        padding-bottom: 3rem;
    }
}
.text-highlight {
    background-color: rgba($black, 0.25);
    margin-top: 1rem;
}

// .panel-asporto{
//     margin-bottom: 0;
//     padding-top: 3rem;
//     padding-bottom: 0rem;
//     background-color: $white;
//     @include breakpoint (small only) {
//         margin-bottom: 0;
//         padding-top: 2rem;
//         padding-bottom: 0rem;
//     }
// }

.homepage-hero {
    background: url('https://www.beerstrot.it/asset/img/large/background-home.gif') center center;
    background-size: cover;
    height: 40rem;
    overflow: hidden;
    @media #{$small-only} {
            height: 27rem;
        }

    h1 {
        text-transform: none;
        font-size: 4rem;
        color: white;
        font-weight: 500;
        line-height: 4.8rem;
        text-align: center;
        margin-top: 4rem;
        @media #{$small-only} {
            font-size: 2rem;
            line-height: 3rem;
            margin-top: 2rem;
            padding: 0rem 0.5rem;
        }
        @media #{$medium-only} {
            font-size: 2rem;
            line-height: 3rem;
            margin-top: 2rem;
        }
    }
    .button-hero {
        display: block;
        margin-right: 5.2rem;
        margin-left: 5.2rem;
    }
}


.sottobottone p {
    margin-top: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.4rem;
}
.asporto-hero {
    background: url('https://www.beerstrot.it/asset/img/large/asporto-background.jpg') no-repeat center center;
    background-size: cover;
    height: 40rem;
    overflow: hidden;
    @include breakpoint (small only) {
            height: 20rem;
        }
    h1 {
        font-size: 4rem;
        color: white;
        font-weight: 500;
        line-height: 4.8rem;
        text-align: center;
        margin-top: 4rem;
        @include breakpoint (small only) {
            font-size: 2rem;
            line-height: 3rem;
            margin-top: 2rem;
        }
        @include breakpoint (medium only) {
            font-size: 2rem;
            line-height: 3rem;
            margin-top: 2rem;
        }
    }
}

/*===================================================================
Chi Siamo
===================================================================*/

// .panel-chi-0 {
//     margin-bottom: 0;
//     padding-top: 0.5rem;
//     padding-bottom: 4rem;
//     background-color: $white;
//     @include breakpoint (small only) {
//         margin-bottom: 0;
//         padding-top: 0rem;
//         padding-bottom: 3rem;
//     }
// }
// .by-line-chi-siamo {
//     font-style: italic;
//     font-size: 0.8rem;
//     line-height: 0.5rem;
//     padding-bottom: 1rem;
//     line-height: 1.4rem;
// }
// .extra-space-recensione {
//     margin-top: 2.5rem;
// }

// .panel-border {
//     border: 1px solid;
//     border-color: white;
// }



/*===================================================================
team detail page
===================================================================*/

// #image-background-team {
//     position: relative;
//     margin-bottom: 2rem;
//     width: 100%; /* for IE 6 */
//     @include breakpoint (small only) {
//         margin-bottom: 1.5rem;
//     }
//     .user-image {
//         border: 10px solid white;
//         position: absolute;
//         width: 20%;
//         top: 70%;
//         left: 0%;
//         @include breakpoint (small only) {
//             width: 30%;
//             top: 65%;
//         }
//     }
// }

/*===================================================================
footer style
===================================================================*/


.panel-footer {
    margin-bottom: 0;
    padding-top: 2rem;
    padding-bottom: 0rem;
    background-color: $light-gray;
    h1 {
        font-size: 1.25rem;
        @include breakpoint (small only) {
        font-size: 1.125rem;
        }
    }
    p {
        font-size: 1rem;
        @include breakpoint (small only) {
        font-size: 0.9rem;
        }
    }
}

/*===================================================================
orari footer e home page
===================================================================*/

.testo-orari {
    font-size: 1rem;
    @include breakpoint (small only) {
        font-size: 0.9rem;
    }
}
.orari {
    display: inline-block;
    float: right;
    margin-right: 1rem;
    @include breakpoint (large up) {
        margin-right: 4rem;
    }
}
.orari-schedule {
    white-space: nowrap;
}
.orari-schedule li span {
    display: inline-block;
    width: 90px;
    margin-right: 20px;
}
.orari-footer-schedule {
    white-space: nowrap;
}
.orari-footer-schedule {
    font-size: 1rem;
    @include breakpoint (small only) {
        font-size: 0.9rem;
    }
}
.orari-footer-schedule li span {
    display: inline-block;
    width: 80px;
    margin-right: 20px;
    @include breakpoint (small only) {
        width: 60px;
        margin-right: 20px;
    }
}

// .panel-hr {
//     margin-bottom: 0;
//     margin-top: 0;
//     padding-top: 0rem;
//     padding-bottom: 0rem;
//     background-color: $footer-background-color;
//     hr {
//         margin-bottom: 0;
//         margin-top: 0;
//         padding-top: 0rem;
//         padding-bottom: 0rem;
//         border-color: $white;
//     }
// }


$topbar-menu-link-color: white;

// .navbar-footer-font {
//     font-size: 0.9375rem;
//     line-height: 2.2rem;
//     margin-top: 1.5rem;
//     margin-bottom: 1.5rem;
//     a {
//         color: $topbar-menu-link-color;
//     }
//     a:hover {
//         color: scale-color($topbar-menu-link-color, $lightness: 30%);
//     }
// }

// ul .icon-font-style {
//     font-size: 1rem;
// }

/*===================================================================
icon style
===================================================================*/

.fi-social:hover {
  fill: scale-color($primary-color, $lightness: -14%);
}

.fi-social:visited {
  fill: $primary-color;
}

.fa-phone {
    font-size: 0.9rem;
        @media #{$small-only} {
        font-size: 0.9rem;
    }
}
.fi-social-facebook {
    color: #3b5998;
}

i {
    font-size: 1.4em;
    padding-right: .3em;
}


/*===================================================================
footer
===================================================================*/

// @mixin vertical-align {
//   position: relative;
//   top: 50%;
//   -webkit-transform: translateY(-50%);
//   -ms-transform: translateY(-50%);
//   transform: translateY(-50%);
// }

// .footer {
//   text-align: center;
//   margin-top: 1.5rem;
//   margin-bottom: 1.5rem;
//   .links a {
//     list-style: none;
//     color: $topbar-menu-link-color;
//     font-size: 0.9375rem;
//     line-height: 3rem;
//     padding: 0rem 0 0rem;
//     margin: 0;
//     &::after {
//       content: "•";
//       padding: 0 0.4rem 0 0.8rem;
//     }
//     &:last-child::after {
//       content: "";
//       padding: 0 0.4rem 0 0.8rem;
//     }
//     a:hover {
//         color: scale-color($topbar-menu-link-color, $lightness: 30%);
//     }
//   }
// }

/*===================================================================
prenota
===================================================================*/

// .privacy {
//     font-size: 0,8rem;
// }

// .extra-space-turno {
//     margin-top: 0.25rem;
//     @include breakpoint (small only) {
//         margin-top: 0.2rem;
//         margin-bottom: 0rem;
//     }
// }

// ::-webkit-input-placeholder {
//   color: #b5b3b3; }

// :-moz-placeholder {
//   /* Firefox 18- */
//   color: #b5b3b3; }

// ::-moz-placeholder {
//   /* Firefox 19+ */
//   color: #b5b3b3; }

// :-ms-input-placeholder {
//   color: #b5b3b3; }

// //stop zoom viewport on form selection small screen only
// @include breakpoint (small only) {
//         input, select, textarea {
//         font-size: 16px !important;
//     };
// }

// input:not([type])[disabled], input:not([type])[readonly], fieldset[disabled] input:not([type]), input[type=text][disabled], input[type=text][readonly], fieldset[disabled] input[type=text], input[type=password][disabled], input[type=password][readonly], fieldset[disabled] input[type=password], input[type=date][disabled], input[type=date][readonly], fieldset[disabled] input[type=date], input[type=datetime][disabled], input[type=datetime][readonly], fieldset[disabled] input[type=datetime], input[type=datetime-local][disabled], input[type=datetime-local][readonly], fieldset[disabled] input[type=datetime-local], input[type=month][disabled], input[type=month][readonly], fieldset[disabled] input[type=month], input[type=week][disabled], input[type=week][readonly], fieldset[disabled] input[type=week], input[type=email][disabled], input[type=email][readonly], fieldset[disabled] input[type=email], input[type=number][disabled], input[type=number][readonly], fieldset[disabled] input[type=number], input[type=search][disabled], input[type=search][readonly], fieldset[disabled] input[type=search], input[type=tel][disabled], input[type=tel][readonly], fieldset[disabled] input[type=tel], input[type=time][disabled], input[type=time][readonly], fieldset[disabled] input[type=time], input[type=url][disabled], input[type=url][readonly], fieldset[disabled] input[type=url], input[type=color][disabled], input[type=color][readonly], fieldset[disabled] input[type=color], textarea[disabled], textarea[readonly], fieldset[disabled] textarea {
//   background-color: #fff;
//   cursor: default;
// }

// .error1 {
//   display: none!important;
// }

// //Loader
// // #loading {
// //   display: none;
// //   position: fixed;
// //   top: 0;
// //   left: 0;
// //   z-index: 100;
// //   width: 100vw;
// //   height: 100vh;
// //   background-color: rgba(255, 255, 255, 0.9);
// //   background-image: url('https://www.beerstrot.it/asset/img/loading1.gif');
// //   background-repeat: no-repeat;
// //   background-position: center;
// //   text-align: center;
// //   font-size: 24px;
// // }

// #loading {
//     position:fixed;
//     width: 100vw;
//     height: 100vh;
//     left:0;
//     right:0;
//     top:0;
//     bottom:0;
//     background-color: rgba(255,255,255,0.8);
//     z-index:9999;
//     display:none;
// }


// @-webkit-keyframes spin {
//     from {-webkit-transform:rotate(0deg);}
//     to {-webkit-transform:rotate(360deg);}
// }

// @keyframes spin {
//     from {transform:rotate(0deg);}
//     to {transform:rotate(360deg);}
// }

// #loading::after {
//    content:'';
//     display:block;
//     position:absolute;
//     left:44%;
//     top:40%;
//     width:3rem;
//     height:3rem;
//     border-style:solid;
//     border-color:$primary-color;
//     border-top-color:transparent;
//     border-width: .3rem;
//     border-radius:50%;
//     -webkit-animation: spin .8s linear infinite;
//     animation: spin .8s linear infinite;
// }


/*===================================================================
accordion space between container
===================================================================*/

  // .accordion .accordion-navigation, .accordion dd {
  //   display: block;
  //   margin-bottom: 2px !important; }


/*===================================================================
accordion domande frequenti
===================================================================*/



/*===================================================================
modal and cart
===================================================================*/

// .reveal {
//   z-index: 1006;
//   -webkit-backface-visibility: hidden;
//           backface-visibility: hidden;
//   display: none;
//   padding: 1rem;
//   border: 1px solid #cacaca;
//   border-radius: 0;
//   background-color: #fefefe;
//   position: relative;
//   top: 100px;
//   margin-right: auto;
//   margin-left: auto;
//   overflow-y: auto;
// }

// centra il modal e fissa altezza relativamente alla viewport
.reveal{
    position:fixed;
    padding: 0rem;
    top:50%!important; /* override inline style injected from JS */
    left:50%;
    transform:translate(-50%, -50%);
    max-height: calc(100vh - 80px);
    //border-radius: 10px;
}

.reveal-padding {
    padding-right: 2rem;
    padding-right: 2rem;
}

.close-button {
    //background-color: white;
    padding: 1rem;
    //margin-top:-10;
    margin-top: 1.2rem;
    font-size: 3rem;
    @include breakpoint (small only) {
        padding: 1rem;
        margin-top: 0.5rem;
    }
}

// usa la classe sotto per close button sticky to top

.close-button1 {
    position: sticky;
    left: 90%;
    top:3%;
    //background-color: white;
    padding: 1rem;
    padding-top: 0.6rem;
    padding-bottom: 1.2rem;
    margin-top:-4rem;
    // margin-top: 1.2rem;
    // margin-right: 1rem;
    font-size: 3rem;
    @include breakpoint (small only) {
        top:0.3%;
        padding-top: 0.7rem;
        margin-top:-0.4rem;
    }
}



.main-container {
    margin:0 auto;
}

.main-header{
    //font-weight: bold;
    position:sticky;
    top:0;
    background-color: white;
    padding-left: 1rem;
//usa classe sotto per titoli lunghi e close button sticky to top
    padding-right: 2.5rem;
    padding-bottom: 0.2rem;
    padding-top: 1rem;
}
.main-header-nomodal {
    position:sticky;
    top:70;
    margin-top:-1px;
    background-color: white;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    padding-bottom: 1rem;
    padding-top: 0.8rem;
}
.main-header-carrello-large {
    position:sticky;
    top:0;
    margin-top:0px;
    margin-bottom:0px;
    background-color: white;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    padding-bottom: 1rem;
    padding-top: 1rem;
    overflow: hidden;
}
.main-content {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0;
    margin-top: 0;
}
.main-content-nomodal {
    padding-left: 0rem;
    padding-right: 0rem;
    padding-top: 0;
    margin-top: 0;
}
.titolo-item {
    display: inline-block;
    margin-bottom: 0.2rem;
    margin-top: 0rem;
    font-size: 1rem;
    font-weight: bold;
}
.note-item {
    display: inline-block;
    line-height: 1.4;
    margin-bottom: 0.6rem;
    font-size: 0.8rem;
}

.cottura-item {
    display: inline-block;
    font-size: 0.75rem;
    text-transform: uppercase;
}
.prezzo-item {
    display: inline-block;
    font-size: 0.8rem;
    margin-top: 0rem;
}

.main-footer{
    position:-webkit-sticky;
    position:sticky;
    bottom:0;
    padding-bottom: 1px;
    //margin-bottom: -20;
    background-color: white;
    padding-top:1rem;
}

.fixed_box {
    position:sticky;
    position:-webkit-sticky;
    //background-color: yellow;
    height:100%;
    max-height: calc(100vh - 120px);
    overflow-y:auto;
    margin-top:10rem;
    top:115px;
    //bottom:0;
    //right:0;
    margin-bottom: 1rem;
}


.button.expanded1 {
  display: block;
  width: 94%;
  margin-right: auto;
  margin-left: auto;
}

.extra-space-button-modal {
    margin-top: 2rem;
    @include breakpoint (small only) {
        margin-top: 1.5rem;
    }
}

.extra-space-button-sticky {
    margin-top: 0rem;
    margin-bottom: 0rem;
    @include breakpoint (small only) {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }

}



/*===================================================================
+ - e-commerce buttons
===================================================================*/

$input-number-size: 4rem;

.input-number-group {
    display: flex;
    margin: auto;
    vertical-align: middle;
    justify-content: center;
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
    appearance: none;
    }

    .input-group-button {
        line-height: calc(#{$input-number-size}/2 - 5px);
        display: inline-block;
    }

    .input-number {
        width: $input-number-size;
        padding: 0 0px;
        vertical-align: middle;
        background-color: white;
        color: $body-font-color;
        text-align: center;
        outline: none;
        display: inline-block;
        margin: 0;
    }

    .input-number,
    .input-number-decrement,
    .input-number-increment {
        display: inline-block;
        border: none;
        //border: 1px solid $primary-color;
        background-color: transparent;
        height: $input-number-size/2;
        user-select: none;
    }

    .input-number-decrement,
    .input-number-increment {
        touch-action: none;
        display: inline-block;
        width: $input-number-size/2;
        background: $primary-color;
        color: white;
        text-align: center;
        font-weight: normal;
        cursor: pointer;
        font-size: 1rem;
        vertical-align: middle;
    }

}


$input-number-size-carrello: 2rem;

.input-number-group-carrello {
    display: flex;
    padding-top: 0.5rem;
    //justify-content: bottom;
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
    appearance: none;
    }

    .input-group-button-carrello {
        line-height: calc(#{$input-number-size-carrello}/2 - 5px);
    }

    .input-number-carrello {
        width: $input-number-size-carrello;
        padding: 0 0px;
        vertical-align: center;
        background-color: white;
        text-align: center;
        outline: none;
        display: block;
        margin: 0;
    }

    .input-number-carrello,
    .input-number-decrement-carrello,
    .input-number-increment-carrello {
        border: none;
        //border: 1px solid $primary-color;
        background-color: transparent;
        height: $input-number-size-carrello/2;
        user-select: none;
    }

    .input-number-decrement-carrello,
    .input-number-increment-carrello {
        touch-action: none;
        display: inline-block;
        width: $input-number-size-carrello/2;
        background: $primary-color;
        color: white;
        text-align: center;
        font-weight: normal;
        cursor: pointer;
        font-size: 1.3rem;
        vertical-align: middle;
        //font-weight: 400;
    }

}

.shadow-carrello {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: white;
}


.just-validate-error-field {
    margin-bottom: 0px;
}

.just-validate-error-label {
    font-size: 14px;
    margin-top:0;
}
