/*===================================================================
margini
===================================================================*/

.extra-space-button-modal {
    margin-top: 2rem;
    @include breakpoint(small only) {
        margin-top: 1.5rem;
    }
}

.extra-space-button-sticky {
    margin-top: 0rem;
    margin-bottom: 0rem;
    @include breakpoint(small only) {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }

}

.extra-space {
    margin-top: 2rem;
}

.extra-space-button {
    margin-top: 0.5rem;
}

.panel-home-n {
    margin-bottom: 0;
    padding-top: 0rem;
    padding-bottom: 5rem;
    background-color: $white;
    @include breakpoint(small only) {
        margin-bottom: 0;
        padding-top: 0rem;
        padding-bottom: 3rem;
    }
}

//spazio fra immagini, video e testo in homepage
.extra-space-image-tab-home {
    margin-top: 0.5rem;
    @include breakpoint(small only) {
        margin-top: 0rem;
        margin-bottom: 0rem;
    }
}

.extra-space-video-home {
    margin-top: 0.35rem;
    @include breakpoint(small only) {
        margin-top: 0rem;
        margin-bottom: 0rem;
    }
}

.extra-space-video-chi-siamo {
    margin-top: 4.4rem;
    @include breakpoint(small only) {
        margin-top: 0rem;
        margin-bottom: 0rem;
    }
}
