/*===================================================================
accordion domande frequenti
===================================================================*/

.menu-accordion {
    margin-bottom: 1.8rem;
}

.header-accordion {
    display: flex;
    cursor: pointer;
    color: $primary-color;
}

.title-accordion {
    flex: 1;
    font-weight: bold;
    font-size: 1.125rem;
}

.icon-accordion {
    width: 1rem;
    line-height: 1.4rem;
    font-size: 2rem;
    font-weight: 500;
    color: $primary-color;
}

.content-accordion {
    display: none;
}
