/* The container-checkbox */
.container-checkbox {
    display: block;
    position: relative;
    padding-left: 1.8rem;
    margin-top: 0.5rem;
    margin-bottom: 1.8rem;
    cursor: pointer;
    //font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 2px;
    left: 1px;
    @include breakpoint (small only) {
    top: 2.8px;
    }
    height: 1.2rem;
    width: 1.2rem;
    background-color: $white;
    border: 1px solid $dark-gray;
    border-radius: 2px;
}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input ~ .checkmark {
    // background-color: scale-color($anchor-color, $lightness: +15%);
    // border-color: scale-color($anchor-color, $lightness: +15%);
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark {
    //background-color: #2196F3;
    border: 1px solid $primary-color;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
    left: 6px;
    top: 1.8px;
    width: 6px;
    height: 12px;
    border: solid $primary-color;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}