.faq {
  @include breakpoint(large) {
	columns: 2;
	}
}

.accordion-title {
  line-height: 1.5;
}


.accordion-title::before {
  	font-size: 1.5rem;
  	line-height: 1.3rem;
}


//pagamenti
// .img-cards {
//     margin-top: 0.3rem;
//     margin-right: 1rem;
//     max-width: 4rem;
// }

//social
// .img-cards-social {
//     margin-top: 0rem;
//     margin-left: 0rem;
//     margin-right: 0.5rem;
//     max-width: 2rem;
// }