/*===================================================================
footer style
===================================================================*/

.panel-footer {
    margin-bottom: 0;
    padding-top: 2rem;
    padding-bottom: 0rem;
    background-color: $light-gray;
    h1 {
        font-size: 1.25rem;
        @include breakpoint(small only) {
        font-size: 1.125rem;
        }
    }
    p {
        font-size: 1rem;
        @include breakpoint(small only) {
        font-size: 0.9rem;
        }
    }
}