/*===================================================================
footer style
===================================================================*/

.panel-footer {
    margin-bottom: 0;
    padding-top: 2rem;
    padding-bottom: 1rem;
    background-color: $light-gray;
    @include breakpoint(small only) {
        padding-bottom: 1rem;
        }
    h1 {
        font-size: 1.2rem;
        text-transform: none;
        @include breakpoint(small only) {
        }
    }
    p {
        font-size: 1rem;
        @include breakpoint(small only) {
        font-size: 0.9rem;
        }
    }
    .attuale a {
        color: $primary-color;
        font-weight: bold;
    }
    .orari-footer-schedule {
        font-size: 1rem;
        line-height: 1.9;
        white-space: nowrap;
        @include breakpoint(small only) {
            font-size: 0.9rem;
        }
    }
    li span {
        display: inline-block;
        width: 5rem;
        margin-right: 1.25rem;
        @include breakpoint(small only) {
            width: 4rem;
            margin-right: 1.25rem;
        }
    }
}