/*===================================================================
icon style
===================================================================*/

.fi-social:hover {
  fill: scale-color($primary-color, $lightness: -14%);
}

.fi-social:visited {
  fill: $primary-color;
}


// .la-phone {
//     font-size: 1rem;
//     @include breakpoint(small only) {
//         //font-size: 1.1rem;

//     }
// }

//hamburger menu padding
.la-bars,  .la-times {
    padding-right: .3rem;
}

.la-shopping-basket.empty {
    color: rgba($primary-color,0.2);
}
p.empty {
    color: rgba($primary-color,0.4);
}


.la-shopping-basket {
    @include breakpoint(small only) {
        font-size: 1.5rem;
    }
}