/*===================================================================
icon style
===================================================================*/

.fi-social:hover {
  fill: scale-color($primary-color, $lightness: -14%);
}

.fi-social:visited {
  fill: $primary-color;
}

.fa-phone {
    font-size: 0.9rem;
    @include breakpoint(small only) {
        font-size: 0.8rem;

    }
}

// .fa-bars, .fa-times {
//     font-size: 1.75rem;
//     }

i {
    font-size: 1.4em;
    padding-right: .3em;
}


.fa-shopping-cart.empty {
    color: rgba($primary-color,0.2);
}
p.empty {
    color: rgba($primary-color,0.4);
}
