/*===================================================================
menupage text
===================================================================*/
#menupage-text {
    padding-bottom: 4rem;
    // h1 {
    //     text-transform: uppercase;
    //     margin-bottom: 2rem;
    //     margin-top: 4rem;
    //     text-align: center;
    //     &:first-child {
    //         margin-top: 1.5rem;
    //     }
    //     @include breakpoint(small only) {
    //         margin-bottom: 1.2rem;
    //         margin-top: 1.5rem;
    //         text-align: left;
    //     }
    // }
    h2 {
        margin-top: 4rem;
        margin-bottom: 3rem;
        text-align: center;
        font-weight: bold;
        @include breakpoint(small only) {
            margin-bottom: 1.8rem;
            margin-top: 3rem;
        }
        small {
            display: block;
            font-size: 1.5rem;
            line-height: 1.8rem;
            font-weight: normal;
            margin-top: 0rem;
            color:$black;
            @include breakpoint(small only) {
                font-size: 1.3rem;
                line-height: 1.6rem;
                margin-top: 0rem;
            }
        }
    }
    h3 {
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: 0;
        margin-top: 0.5rem;
        @include breakpoint(small only) {
            font-size: 1.125rem;
            margin-top: 0.5rem;
        }
    }
    h4 {
        margin-top: 1rem;
        margin-bottom: 1.25rem;
    }
    h5 {
        font-size: 1.15rem;
    }
    h6 {
        font-size: 1rem;
    }
    .price {
        font-size: 1rem;
        margin-left: 1rem;
        font-weight: normal;
        @include breakpoint(small only) {
            margin-left: 0.8rem;
        }
   }
    p small {
        font-size: 0.85rem;
        line-height: 1.25rem;
        display: block;
        margin-top: 0.3rem;
   }
}


//asporto hero
// .asporto-hero {
//     background: url('https://www.beerstrot.it/asset/img/large/asporto-background.jpg') no-repeat center center;
//     background-size: cover;
//     height: 40rem;
//     overflow: hidden;
//     @include breakpoint(small only) {
//             height: 20rem;
//         }
//     h1 {
//         font-size: 4rem;
//         color: white;
//         font-weight: 500;
//         line-height: 4.8rem;
//         text-align: center;
//         margin-top: 4rem;
//         @include breakpoint(small only) {
//             font-size: 2rem;
//             line-height: 3rem;
//             margin-top: 2rem;
//         }
//         @include breakpoint (medium only) {
//             font-size: 2rem;
//             line-height: 3rem;
//             margin-top: 2rem;
//         }
//     }
// }

//sticky menu
.sticky {
    width: 100%;
    background-color: white;
    padding-top:10px;
    padding-bottom: 10px;
    }

a.is-active {
    background: $primary-color;
    color: #fefefe;
    //font-size: 14px;
}

a.is-active::after {
    position: relative;
    left: 30px;
    border: 3px solid #73AD21;
}

// infinite horizontal scroll
.hs {
    display: grid;
    grid-gap: 0rem;
    grid-auto-flow: column;
    grid-auto-columns: min-content;
    white-space: nowrap;
    overflow-x: scroll;
    scroll-snap-type: x proximity;
    justify-content: flex-start;
    align-items: center;
    -webkit-overflow-scrolling: touch;
    border-top:1px solid $light-gray;
    border-bottom:1px solid $light-gray;
}

.hs:before,
.hs:after {
    content: '';
    width: 0rem;
}

.hs > li {
    scroll-snap-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include breakpoint(small only) {
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
    }
    a {
        font-size: 0.875rem;
    }

}

.hs> li:first-child {
    padding-left: 0.7rem;
    @include breakpoint(medium only) {
        padding-left: 1.3rem;
    }
     @include breakpoint(large only) {
        padding-left: 1.3rem;
    }
    @include breakpoint(xlarge only) {
        padding-left: 1.4rem;
    }
    @include breakpoint(xxlarge only) {
        padding-left: 1.8rem;
    }
}

.no-scrollbar {
    scrollbar-width: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}


// padding btw items
.extra-space-item-menu {
    padding-bottom: 1rem;
    @include breakpoint(small only) {
        padding-bottom: 2rem;
    }
}

// modal title for asporto
.h1-modal {
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: none;
    margin-top:0;
    padding-top:0;
    margin-bottom: 0.5rem;
    line-height: 2.5rem;
    @include breakpoint(small only) {
        font-size: 1.9rem;
    }
}
.allergeni {
    //font-size: 0.9rem;
    line-height: 1rem;
    margin-bottom: 1.5rem;
    font-style: italic;
    @include breakpoint(small only) {
        margin-bottom: 3rem;
    }
}

.main-header-orari-ritiro {
    //text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
    padding-bottom: 1.5rem;
    padding-top: 2rem;
}

//test grid-templates and it works
#product-page {
    display: grid;
    grid-template:  "item-image  item-text" 3fr
                    "item-image  item-button" 34.5px;
    grid-template-columns: minmax(120px, 1fr) 3fr;
    column-gap: 16px;
    margin-bottom: 1.6rem;
   // background: rgba(lightpink, 0.2);
    .item-image {
        //background-color: rgba(lightblue, 0.4);
        grid-area: item-image;
        padding-top: 0.84rem;
    }
    .item-text {
      //  background-color: rgba(yellow, 0.4);;
        grid-area: item-text;
    }
    .item-button {
        //background-color: rgba(red, 0.1);
        grid-area: item-button;
        margin:0;
        padding:0;
    }
}