/*===================================================================
modal and cart
===================================================================*/

// .reveal {
//   z-index: 1006;
//   -webkit-backface-visibility: hidden;
//           backface-visibility: hidden;
//   display: none;
//   padding: 1rem;
//   border: 1px solid #cacaca;
//   border-radius: 0;
//   background-color: #fefefe;
//   position: relative;
//   top: 100px;
//   margin-right: auto;
//   margin-left: auto;
//   overflow-y: auto;
// }

// centra il modal e fissa altezza relativamente alla viewport
.reveal{
    position:fixed;
    padding: 0rem;
    top:50%!important; /* override inline style injected from JS */
    left:50%;
    transform:translate(-50%, -50%);
    max-height: calc(100vh - 80px);
    //border-radius: 10px;
}

.reveal-padding {
    padding-right: 2rem;
    padding-right: 2rem;
}

.close-button {
    //background-color: white;
    padding: 1rem;
    //margin-top:-10;
    margin-top: 1.2rem;
    font-size: 3rem;
    @include breakpoint (small only) {
        padding: 1rem;
        margin-top: 0.5rem;
    }
}

// usa la classe sotto per close button sticky to top

.close-button1 {
    position: sticky;
    left: 90%;
    top:3%;
    //background-color: white;
    padding: 1rem;
    padding-top: 0.6rem;
    padding-bottom: 1.2rem;
    margin-top:-4rem;
    // margin-top: 1.2rem;
    // margin-right: 1rem;
    font-size: 3rem;
    @include breakpoint (small only) {
        top:0.3%;
        padding-top: 0.7rem;
        margin-top:-0.4rem;
    }
}


.main-container {
    margin:0 auto;
}

.main-header{
    //font-weight: bold;
    position:sticky;
    top:0;
    background-color: white;
    padding-left: 1rem;
//usa classe sotto per titoli lunghi e close button sticky to top
    padding-right: 2.5rem;
    padding-bottom: 0.2rem;
    padding-top: 1rem;
}
.main-header-nomodal {
    position:sticky;
    top:70;
    margin-top:-1px;
    background-color: white;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    padding-bottom: 1rem;
    padding-top: 0.8rem;
}
.main-header-carrello-large {
    position:sticky;
    top:0;
    margin-top:0px;
    margin-bottom:0px;
    background-color: white;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    padding-bottom: 1rem;
    padding-top: 1rem;
    overflow: hidden;
}
.main-content {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0;
    margin-top: 0;
}
.main-content-nomodal {
    padding-left: 0rem;
    padding-right: 0rem;
    padding-top: 0;
    margin-top: 0;
}
.titolo-item {
    display: inline-block;
    margin-bottom: 0.2rem;
    margin-top: 0rem;
    font-size: 1rem;
    font-weight: bold;
}
.note-item {
    display: inline-block;
    line-height: 1.4;
    margin-bottom: 0.6rem;
    font-size: 0.8rem;
}

.cottura-item {
    display: inline-block;
    font-size: 0.75rem;
    text-transform: uppercase;
}
.prezzo-item {
    display: inline-block;
    font-size: 0.8rem;
    margin-top: 0rem;
}

.main-footer{
    position:-webkit-sticky;
    position:sticky;
    bottom:0;
    padding-bottom: 1px;
    //margin-bottom: -20;
    background-color: white;
    padding-top:1rem;
}

.fixed_box {
    position:sticky;
    position:-webkit-sticky;
    //background-color: yellow;
    height:100%;
    max-height: calc(100vh - 120px);
    overflow-y:auto;
    margin-top:10rem;
    top:115px;
    //bottom:0;
    //right:0;
    margin-bottom: 1rem;
}


.button.expanded1 {
  display: block;
  width: 94%;
  margin-right: auto;
  margin-left: auto;
}

.extra-space-button-modal {
    margin-top: 2rem;
    @include breakpoint (small only) {
        margin-top: 1.5rem;
    }
}

.extra-space-button-sticky {
    margin-top: 0rem;
    margin-bottom: 0rem;
    @include breakpoint (small only) {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }

}



/*===================================================================
+ - e-commerce buttons
===================================================================*/

$input-number-size: 4rem;

.input-number-group {
    display: flex;
    margin: auto;
    vertical-align: middle;
    justify-content: center;
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
    appearance: none;
    }

    .input-group-button {
        line-height: calc(#{$input-number-size}/2 - 5px);
        display: inline-block;
    }

    .input-number {
        width: $input-number-size;
        padding: 0 0px;
        vertical-align: middle;
        background-color: white;
        color: $body-font-color;
        text-align: center;
        outline: none;
        display: inline-block;
        margin: 0;
    }

    .input-number,
    .input-number-decrement,
    .input-number-increment {
        display: inline-block;
        border: none;
        //border: 1px solid $primary-color;
        background-color: transparent;
        height: $input-number-size/2;
        user-select: none;
    }

    .input-number-decrement,
    .input-number-increment {
        touch-action: none;
        display: inline-block;
        width: $input-number-size/2;
        background: $primary-color;
        color: white;
        text-align: center;
        font-weight: normal;
        cursor: pointer;
        font-size: 1rem;
        vertical-align: middle;
    }

}


$input-number-size-carrello: 2rem;

.input-number-group-carrello {
    display: flex;
    padding-top: 0.5rem;
    //justify-content: bottom;
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
    appearance: none;
    }

    .input-group-button-carrello {
        line-height: calc(#{$input-number-size-carrello}/2 - 5px);
    }

    .input-number-carrello {
        width: $input-number-size-carrello;
        padding: 0 0px;
        vertical-align: center;
        background-color: white;
        text-align: center;
        outline: none;
        display: block;
        margin: 0;
    }

    .input-number-carrello,
    .input-number-decrement-carrello,
    .input-number-increment-carrello {
        border: none;
        //border: 1px solid $primary-color;
        background-color: transparent;
        height: $input-number-size-carrello/2;
        user-select: none;
    }

    .input-number-decrement-carrello,
    .input-number-increment-carrello {
        touch-action: none;
        display: inline-block;
        width: $input-number-size-carrello/2;
        background: $primary-color;
        color: white;
        text-align: center;
        font-weight: normal;
        cursor: pointer;
        font-size: 1.3rem;
        vertical-align: middle;
        //font-weight: 400;
    }

}

.shadow-carrello {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: white;
}

