/*===================================================================
prenota
===================================================================*/

.privacy {
    font-size: 0,8rem;
}

.extra-space-turno {
    margin-top: 0.25rem;
    @include breakpoint (small only) {
        margin-top: 0.2rem;
        margin-bottom: 0rem;
    }
}

::-webkit-input-placeholder {
  color: #b5b3b3; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #b5b3b3; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #b5b3b3; }

:-ms-input-placeholder {
  color: #b5b3b3; }

//stop zoom viewport on form selection small screen only
@include breakpoint (small only) {
        input, select, textarea {
        font-size: 16px !important;
    };
}

input:not([type])[disabled], input:not([type])[readonly], fieldset[disabled] input:not([type]), input[type=text][disabled], input[type=text][readonly], fieldset[disabled] input[type=text], input[type=password][disabled], input[type=password][readonly], fieldset[disabled] input[type=password], input[type=date][disabled], input[type=date][readonly], fieldset[disabled] input[type=date], input[type=datetime][disabled], input[type=datetime][readonly], fieldset[disabled] input[type=datetime], input[type=datetime-local][disabled], input[type=datetime-local][readonly], fieldset[disabled] input[type=datetime-local], input[type=month][disabled], input[type=month][readonly], fieldset[disabled] input[type=month], input[type=week][disabled], input[type=week][readonly], fieldset[disabled] input[type=week], input[type=email][disabled], input[type=email][readonly], fieldset[disabled] input[type=email], input[type=number][disabled], input[type=number][readonly], fieldset[disabled] input[type=number], input[type=search][disabled], input[type=search][readonly], fieldset[disabled] input[type=search], input[type=tel][disabled], input[type=tel][readonly], fieldset[disabled] input[type=tel], input[type=time][disabled], input[type=time][readonly], fieldset[disabled] input[type=time], input[type=url][disabled], input[type=url][readonly], fieldset[disabled] input[type=url], input[type=color][disabled], input[type=color][readonly], fieldset[disabled] input[type=color], textarea[disabled], textarea[readonly], fieldset[disabled] textarea {
  background-color: #fff;
  cursor: default;
}

.error1 {
  display: none!important;
}

//Loader
#loading {
    position:fixed;
    width: 100vw;
    height: 100vh;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background-color: rgba(255,255,255,0.8);
    z-index:9999;
    display:none;
}


@-webkit-keyframes spin {
    from {-webkit-transform:rotate(0deg);}
    to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

#loading::after {
   content:'';
    display:block;
    position:absolute;
    left:44%;
    top:40%;
    width:3rem;
    height:3rem;
    border-style:solid;
    border-color:$primary-color;
    border-top-color:transparent;
    border-width: .3rem;
    border-radius:50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}
