<div class="grid-x grid-margin-x grid-margin-y">
	<div class="small-12 cell">
		<table class="unstriped hover">
		  	<tbody>
		  		<thead>
                    <tr>
                        <th>Prodotto</th>
                        <th>Quantità</th>
                        <th>Prezzo</th>
                        <th>Totale</th>

                    </tr>
                </thead>
				{{#repeat 5}}
		    	<tr>
			      	<td>
				      	<span class="titolo-item">Beerstrot</span>
						<span class="note-item">no fegato più vegan mi raccomando senza olive fritte allegate come contorno</span>
						<span class="cottura-item">Ben cotto</span>
					</td>
				    <td style="text-align:right;">
						<span class="prezzo-item">2</span>
					</td>
					<td style="text-align:right;">
						<span class="prezzo-item">€75,00</span>
					</td>
			      	<td style="text-align:right;">
			      		<span class="prezzo-item">€150,00</span>
			      	</td>
			    </tr>
				{{/repeat}}
		  	</tbody>
		  	<tfoot class="extra-space">
		  		<tr>
					<td><strong>TOTALE</strong></td>
					<td></td>
					<td></td>
					<td><strong>€190,90</strong></td>
				</tr>
		  	</tfoot>
		</table>
	</div>
</div>