<div class="clearfix">
	<div id="itens-carrello-checkout">
	</div>
	<div class="checkout-summary-details">
		 <div>
			 <h1 class="titolo-item">TOTALE:</h1>
		</div>
		<div class="item-price">
			<h1 class="titolo-item" id="checkout-total"> €&ensp;0</h1>
		</div>
	</div>
	{{#ifpage 'account'}}
	  	<button type="button" id="" class="clear button hollow alert float-left">Elimina</button>
	  	<button type="button" id="" class="button submit float-right">Metti nel carrello e modifica</button>
	{{/ifpage}}
</div>