<div id="carrelloVuoto">
	<header class="main-header-carrello-large">
		Il tuo Ordine
	</header>
	<div class="grid-container">
		<div class="grid-x grid-margin-x grid-margin-y align-center-middle text-center">
			<div class="small-12 cell">
				<i class="las la-shopping-basket empty la-8x"></i>
				<p class="empty">il carrello è vuoto</p>
			</div>
		</div>
	</div>
	<footer class="main-footer">
		<a href="#" class="button expanded-with-padding disabled">Compila i tuoi dati e invia l'ordine&nbsp;&nbsp; <span class="price"> &nbsp;&nbsp;€ 0</span></a>
	</footer>
</div>