<div class="grid-x grid-margin-x grid-margin-y">
	<div class="small-12 cell">
		{{#repeat 2}}
	  	<div class="checkout-summary-item align-middle">
			<div class="item-name">
		  		<h1 class="titolo-item">Beerstrot</h1>
		  		<p class="note-item no-inline">no fegato più vegan mi raccomando senza olive fritte allegate come contorno</p>
		  		<p class="cottura-item no-inline">Ben Cotto</p>
		  		<p class="note-item no-inline">Quantità: 2</p>
			</div>
			<div class="item-price">
			  	<p class="prezzo-item ">€23,80</p>
			</div>
	  	</div>
	  	<div class="checkout-summary-item align-middle">
			<div class="item-name">
		  		<h1 class="titolo-item">Diablo</h1>
		  		<p class="note-item no-inline hide"></p>
		  		<p class="cottura-item no-inline">Al sangue</p>
		  		<p class="note-item no-inline">Quantità: 1</p>
			</div>
			<div class="item-price">
			  	<p class="prezzo-item ">€11,90</p>
			</div>
	  	</div>
	  	<div class="checkout-summary-item align-middle">
			<div class="item-name">
		  		<h1 class="titolo-item">Bocconcini di pollo</h1>
		  		<p class="note-item no-inline hide"></p>
		  		<p class="cottura-item no-inline hide"></p>
		  		<p class="note-item no-inline">Quantità: 4</p>
			</div>
			<div class="item-price">
			  	<p class="prezzo-item ">€22,00</p>
			</div>
	  	</div>
	  	<div class="checkout-summary-item align-middle">
			<div class="item-name">
		  		<h1 class="titolo-item">Coca Cola 33cl.</h1>
		  		<p class="note-item no-inline hide"></p>
		  		<p class="cottura-item no-inline hide"></p>
		  		<p class="note-item no-inline">Quantità: 5</p>
			</div>
			<div class="item-price">
			  	<p class="prezzo-item ">€15,00</p>
			</div>
	  	</div>
	  	{{/repeat}}
	  	<div class="checkout-summary-details">
		    <div>
		      	<h1 class="titolo-item">TOTALE:</h1>
		    </div>
		    <div class="item-price">
		      	<h1 class="titolo-item">€145,40</h1>
		    </div>
		</div>
	</div>
</div>