<header class="main-header-carrello-large">
	Il tuo Ordine
</header>
<div class="grid-container">
	<div class="grid-x grid-margin-x grid-margin-y align-center-middle text-center">
		<div class="small-12 cell ">
			<i class="fas fa-shopping-cart empty fa-4x extra-space"></i>
			<p class="extra-space empty">il carrello è vuoto</p>
		</div>
	</div>
</div>
<footer class="main-footer">
	<a href="#" class="button expanded-with-padding disabled">
		Compila i tuoi dati e invia l'ordine<span class="price"></span>
	</a>
</footer>