<div class="reveal grid-x grid-margin-x grid-margin-y" id="checkout" data-reveal>
    <!-- <header class="main-header">
        <h2 style="font-weight: bold;">Accedi o Registrati</h2>
        <button class="close-button close-button-carrello" data-close aria-label="Close reveal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </header> -->
    <div class="grid-x grid-padding-x extra-space">
        <div class="small-12 cell">
            <h2>Accedi</h2>
        </div>
        <div class="small-12 cell">
            <label><strong>Email</strong>
                <input type="email" class="required error email" id="email" placeholder="esempio@esempio.it" maxlength="200"/>
            </label>
        </div>
        <div class="small-12 cell">
            <label><strong>Password</strong>
                <input type="email" class="required error password" id="" placeholder=""/>
            </label>
        </div>
        <div class="small-12 cell">
            <a href="#" class="button float-right">Accedi</a>
        </div>
    </div>
    <div class="grid-x grid-padding-x">
        <div class="small-12 cell">
            <p class="text-center">.- oppure -.</p>
        </div>
    </div>
    <div class="grid-x grid-padding-x">
        <div class="small-12 cell">
            <a href="#" class="button">Accedi con Facebook</a>
        </div>
        <div class="small-12 cell">
            <a href="#" class="button">Accedi con Google</a>
        </div>
        <div class="small-12 cell">
            <a href="#" class="button hollow ">Prosegui senza registrarti</a>
        </div>
    </div>
    <div class="grid-x grid-padding-x extra-space">
        <div class="small-12 cell">
            <h2>Registrati</h2>
        </div>
        <div class="small-12 cell">
            <label><strong>Email</strong>
                <input type="email" class="required error email" id="email" placeholder="esempio@esempio.it" maxlength="200"/>
            </label>
        </div>
        <div class="small-12 cell">
            <label><strong>Password</strong>
                <input type="email" class="required error password" id="" placeholder=""/>
            </label>
        </div>
        <div class="small-12 cell">
            <a href="#" class="button float-right">Registrati</a>
        </div>
    </div>
</div>