<div class="reveal reveal-ecommerce grid-x grid-margin-x grid-margin-y main-container" id="checkout" data-reveal>
    <header class="main-header">
        <h2 class="h2-titolo-carrello">Chiudi per continuare la spesa</h2>
        <button class="close-button close-button-carrello" data-close aria-label="Close reveal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </header>
    <div class="">
        <div class="grid-x grid-padding-x">
            <div class="small-12 cell">
                <h2 class="h2-carrello">Accedi</h2>
            </div>
            <div class="small-10 cell">
                <label><strong>Email</strong>
                    <input id="user-text-field" type="email" autocomplete="username" class="required error email" placeholder="esempio@esempio.it"/>
                </label>
            </div>
            <div class="small-8 cell">
                <label><strong>Password</strong>
                    <input id="password-text-field" type="password" class="required error password" autocomplete="current-password"/>
                </label>
            </div>
            <div class="small-12 cell extra-space-button">
                <a href="#" class="button">Accedi</a>
            </div>
        </div>
        <div class="grid-x grid-padding-x grid-margin-y">
            <div class="small-12 cell">
                <h3 class="text-center">oppure</h3>
            </div>
        </div>
        <div class="grid-x grid-padding-x grid-padding-y">
            <div class="small-12 cell">
                <div class="stacked-for-small button-group">
                    <a href="#" class="button">Accedi con Facebook</a>
                    <a href="#" class="button alert">Accedi con Google</a>
                    <a href="#" class="button hollow">Prosegui senza registrarti</a>
                </div>
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="small-12 cell">
                <h2 class="h2-carrello">Registrati</h2>
            </div>
            <div class="small-6 medium-4 large-4 cell">
                <label><strong>Nome*</strong>
                    <input type="text" class="required error" id="name" placeholder="" maxlength="20"/>
                </label>
            </div>
            <div class="small-6 medium-6 large-4 cell">
                <label><strong>Cognome*</strong>
                    <input type="text" class="required error" id="surname" placeholder="" maxlength="20"/>
                </label>
            </div>
            <div class="small-4  medium-4 large-3 cell">
                <label><strong>Telefono*</strong>
                    <input type="tel" class="required error" id="telephone" placeholder="3332221111" maxlength="35" />
                </label>
            </div>
            <div class="small-10  medium-6 large-5 cell">
                <label><strong>Email (la tua username) non modificabile*</strong>
                    <input type="email" class="required error email" id="email" placeholder="esempio@esempio.it" maxlength="200"/>
                  </label>
            </div>
            <div class="small-8 cell">
                <label><strong>Password*</strong>
                     <input id="new-password-text-field" type="password" class="required error password" autocomplete="new-password"/>
                </label>
            </div>
            <div class="small-12 cell">
                <a href="#" class="button">Registrati</a>
            </div>
        </div>
    </div>
    <footer class="main-footer">
        <ul class="menu align-center">
            <li><a href="{{root}}informazioni-legali.html#privacy">Privacy</a></li>
            <li><a href="{{root}}informazioni-legali.html#terminiCondizioni">Termini e Condizioni</a></li>
        </ul>
    </footer>
</div>