<li class="accordion-item" data-accordion-item>
	<a href="#celiachiaFaq" class="accordion-title">Sono celiaco. Siete attrezzati a riguardo?</a>
	<div class="accordion-content" data-tab-content id="celiachiaFaq">
		 <p>Abbiamo una cucina unica quindi c'è contaminazione crociata da glutine.</p>
  	</div>
</li>
<li class="accordion-item" data-accordion-item>
  	<a href="#torteFaq" class="accordion-title">Posso portare una torta da casa?</a>
  	<div class="accordion-content" data-tab-content id="torteFaq">
	  	<p>Non accettiamo torte anche se di pasticceria<strong> e non possiamo neppure tenerla in frigo o freezer nel caso la portiate per errore</strong>. Più in generale, non accettiamo alcun prodotto dall'esterno inclusi vini e bevande.</p>
	  	Se per una ricorrenza gradite una torta:
	  	<ul class="bullet">
			<li>Possiamo farvi uno dei nostri dolci a torta con almeno 2 giorni di preavviso</li>
			<li>Possiamo far preparare una torta dalla nostra pasticceria di fiducia con almeno 5 giorni di preavviso</li>
	  	</ul>
  	</div>
</li>
<li class="accordion-item" data-accordion-item>
  	<a href="#gruppiNumerosiFaq" class="accordion-title">Gruppi numerosi</a>
 	<div class="accordion-content" data-tab-content id="gruppiNumerosiFaq">
		<p>Periodo estivo: accettiamo un massimo di 12 persone; se siete di più sarete disposti su più tavoli quasi sempre vicini.</p>
		<p>Periodo autunno-inverno-primavera: riusciamo ad ospitare fino a 30 persone in una unica sala.</p>
  	</div>
</li>
<li class="accordion-item" data-accordion-item>
  	<a href="#pioggiaEstateFaq" class="accordion-title">Nel periodo estivo in caso di pioggia avete posto all'interno?</a>
  	<div class="accordion-content" data-tab-content id="pioggiaEstateFaq">
	  	<p>In caso di pioggia possiamo accomodare un limitato numero di persone all'interno: I posti all'interno sono circa la metà rispetto ai posti all'esterno.</p>
	  	<p>Cercheremo di accomodare tutti coloro che già stanno mangiando, poi sistemeremo coloro che hanno prenotato in ordine cronologico. A tutti gli altri, purtoppo, possiamo, proporre l'asporto.</p>
  	</div>
</li>
<li class="accordion-item" data-accordion-item>
  	<a href="#carteCreditoFaq" class="accordion-title">Quali carte accettate?</a>
  	<div class="accordion-content" data-tab-content id="carteCreditoFaq">
	  	<p>Accettiamo Bancomat, Visa e Mastercard. <strong>Non accettiamo Amex</strong>.</p>
  	</div>
</li>
<li class="accordion-item" data-accordion-item>
  	<a href="#orarioOrdineAsportoFaq" class="accordion-title">Perché non riesco ad ordinare un asporto per giorni diversi da oggi?</a>
  	<div class="accordion-content" data-tab-content id="orarioOrdineAsportoFaq">
	  	<p>Accettiamo solo ordini in giornata. Se devi effettuare un ordine molto corposo, ti chiediamo la gentilezza di inviarlo almeno 30/40 minuti prima per fartelo trovare pronto all'orario da te desiderato.</p>
  	</div>
</li>