<div class="main-content-nomodal">
    <div id="carrello-flex" class="clearfix">
        {{#each carrello.carrello}}
        <div>
            <div class="checkout-summary-item">
                <div class="item-name">
                    <h1 class="titolo-item">{{item-name}}</h1>
                    <p class="note-item">{{item-note}}</p>
                    <p class="cottura-item">{{item-cottura}}</p>
                </div>
                <div class="item-quantity">
                    <div class="input-group input-number-group">
                        <div class="input-group-button">
                            <span class="input-number-decrement"><i class="las la-minus-square la-lg"></i></span>
                        </div>
                        <input class="input-number" style="width:1.5rem; font-size: 0.8rem!important;" type="button" value="{{quantita}}" min="0" max="30">
                        <div class="input-group-button">
                            <span class="input-number-increment"><i class="las la-plus-square la-lg"></i></span>
                        </div>
                    </div>
                </div>
                <div class="item-price">
                    <p class="prezzo-item">€ {{item-price-total}}</p>
                </div>
            </div>
        </div>
        {{/each}}
        <div class="checkout-summary-details">
            <div>
                <h1 class="titolo-item">TOTALE:</h1>
            </div>
            <div class="item-price">
                <h1 class="titolo-item">€ 145,40</h1>
            </div>
        </div>
    </div>
</div>