<nav  id="hamburger">
	<ul class="menu1">
		<li class="logo"><a href="{{root}}index.html"><img class="img-logo" src="{{root}}assets/img/svgs/logo-completo.svg" alt="Ca' Vecchia Beerstrot"><meta itemprop="name" content="Ca' Vecchia Beerstrot"></a>
		</li>
		<li class="item {{#ifpage 'prenota'}} attuale {{/ifpage}}"><a href="{{root}}prenota.html">Riserva un Tavolo</a></li>
		<li class="item {{#ifpage 'menu'}} attuale {{/ifpage}}"><a href="{{root}}menu.html">Menù</a></li>
		<li class="item {{#ifpage 'asporto'}}attuale{{/ifpage}}"><a href="{{root}}asporto.html">Asporto</a></li>
		<li class="item {{#ifpage 'contatti'}} attuale {{/ifpage}}"><a href="{{root}}contatti.html">Contatti</a></li>
		<li class="item {{#ifpage 'account'}} attuale {{/ifpage}}"><a href="{{root}}asporto/useraccount.html"><i class="fas fa-user"></i></a></li>
		<li class="toggle"><a href="javascript:void(0)"><i class="fas fa-bars"></i></a></li>
	</ul>
</nav>