<nav id="hamburgerNav">
	<ul class="menu-hamburger">
		<li class="logo"><a href="{{root}}index.html"><img class="img-logo" src="{{root}}assets/img/svgs/logo.svg" alt="Logo Ca' Vecchia Beerstrot"><meta itemprop="name" content="Ca' Vecchia Beerstrot"></a></li>
		<li class="item {{#ifpage 'riserva-un-tavolo'}} attuale {{/ifpage}}"><a href="{{root}}riserva-un-tavolo.html">Riserva un Tavolo</a></li>
		<li class="item {{#ifpage 'asporto'}}attuale{{/ifpage}}"><a href="{{root}}asporto.html">Ordina da Asporto</a></li>
		<li class="item {{#ifpage 'menu'}} attuale {{/ifpage}}"><a href="{{root}}menu.html">Menù</a></li>
		<li class="item {{#ifpage 'chi-siamo'}} attuale {{/ifpage}}"><a href="{{root}}chi-siamo.html">Chi Siamo</a></li>
		<li class="item {{#ifpage 'account'}} attuale {{/ifpage}}"><a id="user-pg-btn"><i class="las la-user-circle la-3x"></i></a></li>
		<li class="toggle"><a href="javascript:void(0)"><i class="las la-bars la-2x"></i></a></li>
	</ul>
</nav>