<<div class="small-12 medium-12 large-12 cell">
    <p>Scegli l'orario per il ritiro del tuo asporto.</p>
    <ul class="orari-schedule no-bullet">
        <li><span><a href="#" class="button small">19:00</a></span><span><a href="#" class="button small">19:15</a></span><span><a href="#" class="button small">19:30</a></span><span><a href="#" class="button small">19:45</a></span></li>
        <li><span><a href="#" class="button small">20:00</a></span><span><a href="#" class="button small">20:15</a></span><span><a href="#" class="button small">20:30</a></span><span><a href="#" class="button small">20:45</a></span></li>
        <li><span><a href="#" class="button small">21:00</a></span><span><a href="#" class="button small">21:15</a></span><span><a href="#" class="button small">21:30</a></span><span><a href="#" class="button small">21:45</a></span></li>
    </ul>
</div>