<div class="main-header-carrello-large">
        Scegli giorno e ora del ritiro
    </div>

    <div class="grid-x grid-padding-x">
        <div class="cell small-6">
            <label>Seleziona giorno
                <input tabindex="5" id="from2" type="text">
            </label>
        </div>
    </div>
    <div class="grid-x grid-padding-x">
        <div class="cell small-12">
            <label>Seleziona ora del ritiro</label>
        </div>
        <div class="cell small-3">
            <a href="#" class="button hollow small">19:00</a>
        </div>
        <div class="cell small-3">
            <a href="#" class="button hollow small">19:15</a>
        </div>
        <div class="cell small-3">
            <a href="#" class="button hollow small">19:30</a>
        </div>
        <div class="cell small-3">
            <a href="#" class="button hollow small">19:45</a>
        </div>
        <div class="cell small-3">
            <a href="#" class="button hollow small">20:00</a>
        </div>
        <div class="cell small-3">
            <a href="#" class="button hollow small">20:15</a>
        </div>
        <div class="cell small-3">
            <a href="#" class="button hollow small">20:30</a>
        </div>
        <div class="cell small-3">
            <a href="#" class="button hollow small">20:45</a>
        </div>
        <div class="cell small-3">
            <a href="#" class="button hollow small">21:00</a>
        </div>
        <div class="cell small-3">
            <a href="#" class="button hollow small">21:15</a>
        </div>
        <div class="cell small-3">
            <a href="#" class="button hollow small">21:30</a>
        </div>
        <div class="cell small-3">
            <a href="#" class="button hollow small">21:45</a>
        </div>
    </div>
    <div class="main-header-carrello-large">
        Accedi o Registrati
    </div>
    <div class="grid-x grid-padding-x align-spaced">
        <div class="cell small-3">
            <a href="#" class="button small self-align-spaced">Accedi</a>
        </div>
        <div class="cell small-3">
            <a href="#" class="button small hollow self-align-spaced">Registrati</a>
        </div>
    </div>