<div class="grid-x small-up-4 align-center extra-space">
    <div class="cell">
        <button type="button" class="button orario-btn">19:00</button>
    </div>
    <div class="cell">
        <button type="button" class="button orario-btn">19:15</button>
    </div>
    <div class="cell">
        <button type="button" class="button orario-btn">19:30</button>
    </div>
    <div class="cell">
        <button type="button" class="button orario-btn">19:45</button>
    </div>
    <div class="cell">
        <button type="button" class="button orario-btn">20:00</button>
    </div>
    <div class="cell">
        <button type="button" class="button orario-btn">20:15</button>
    </div>
    <div class="cell">
        <button type="button" class="button orario-btn">20:30</button>
    </div>
    <div class="cell">
        <button type="button" class="button orario-btn">20:45</button>
    </div>
    <div class="cell">
        <button type="button" class="button orario-btn">21:00</button>
    </div>
    <div class="cell">
        <button type="button" class="button orario-btn">21:15</button>
    </div>
    <div class="cell">
        <button type="button" class="button orario-btn">21:30</button>
    </div>
    <div class="cell">
        <button type="button" class="button orario-btn">21:45</button>
    </div>
</div>