<div class="small-12 medium-8 large-6 cell medium-offset-2 large-offset-1 text-center callout secondary">
    <p>Modifica l'orario scelto</p>
    <div class="grid-x small-up-4 align-center">
        <div class="cell">
            <button  type="button" class="button submit">19:00</button>
        </div>
        <div class="cell">
            <button  type="button" class="button submit" style="background-color: #0098b8;">19:15</button>
        </div>
        <div class="cell">
            <button  type="button" class="button submit" disabled>19:30</button>
        </div>
        <div class="cell">
            <button  type="button" class="button submit">19:45</button>
        </div>
        <div class="cell">
            <button  type="button" class="button submit">20:00</button>
        </div>
        <div class="cell">
            <button type="button" class="button submit" disabled>20:15</button>
        </div>
        <div class="cell">
            <button type="button" class="button submit">20:30</button>
        </div>
        <div class="cell">
            <button  type="button" class="button submit">20:45</button>
        </div>
        <div class="cell">
            <button  type="button" class="button submit">21:00</button>
        </div>
        <div class="cell">
            <button  type="button" class="button submit">21:15</button>
        </div>
        <div class="cell">
            <button  type="button" class="button submit">21:30</button>
        </div>
        <div class="cell">
            <button  type="button" class="button submit">21:45</button>
        </div>
    </div>
    </div>
</div>