<div class="small-12 medium-8 large-6 cell medium-offset-2 large-offset-1 text-center callout secondary">
    <p>Modifica l'orario scelto</p>
    <div class="grid-x small-up-4 align-center">
        <div class="cell">
            <a href="#" class="button">19:00</a>
        </div>
        <div class="cell">
            <a href="#" class="button" style="background-color: #0098b8;">19:15</a>
        </div>
        <div class="cell">
            <a href="#" class="button disabled">19:30</a>
        </div>
        <div class="cell">
            <a href="#" class="button">19:45</a>
        </div>
        <div class="cell">
            <a href="#" class="button">20:00</a>
        </div>
        <div class="cell">
            <a href="#" class="button disabled">20:15</a>
        </div>
        <div class="cell">
            <a href="#" class="button">20:30</a>
        </div>
        <div class="cell">
            <a href="#" class="button">20:45</a>
        </div>
        <div class="cell">
            <a href="#" class="button">21:00</a>
        </div>
        <div class="cell">
            <a href="#" class="button">21:15</a>
        </div>
        <div class="cell">
            <a href="#" class="button">21:30</a>
        </div>
        <div class="cell">
            <a href="#" class="button">21:45</a>
        </div>
    </div>
</div>