<div class="small-12 medium-6 large-4 cell">
    <div class="main-header-orari-ritiro">
        Scegli l'orario per il ritiro dell'asporto
    </div>
    <div class="grid-x small-up-4">
        <div class="cell">
            <a href="#" class="button">19:00</a>
        </div>
        <div class="cell">
            <a href="#" class="button">19:15</a>
        </div>
        <div class="cell">
            <a href="#" class="button">19:30</a>
        </div>
        <div class="cell">
            <a href="#" class="button">19:45</a>
        </div>
        <div class="cell">
            <a href="#" class="button">20:00</a>
        </div>
        <div class="cell">
            <a href="#" class="button">20:15</a>
        </div>
        <div class="cell">
            <a href="#" class="button">20:30</a>
        </div>
        <div class="cell">
            <a href="#" class="button">20:45</a>
        </div>
        <div class="cell">
            <a href="#" class="button">21:00</a>
        </div>
        <div class="cell">
            <a href="#" class="button">21:15</a>
        </div>
        <div class="cell">
            <a href="#" class="button">21:30</a>
        </div>
        <div class="cell">
            <a href="#" class="button">21:45</a>
        </div>
    </div>
</div>
<!-- <div class="small-12 medium-6 large-4 cell">
    <div class="main-header-carrello-large">
        Accedi o Registrati
    </div>
    <div class="grid-x grid-padding-x align-spaced">
        <div class="cell small-3">
            <a href="#" class="button small self-align-spaced">Accedi</a>
        </div>
        <div class="cell small-3">
            <a href="#" class="button small hollow self-align-spaced">Registrati</a>
        </div>
    </div>
</div> -->