<div class="cell">
	<div class="card">
		<div class="card-section">
			<h3>{{item-name}}<span class="price">{{item-price}}</span></h3>
			<p class="{{class-description}}">{{item-description}}<span class="{{class-allergeni}}"><br><small>Allergeni: {{item-allergeni}}</small></span></p>
			<button type="button" class="button small" data-open="{{id-data}}">Aggiungi al Carrello</button>
		</div>
	</div>
	<div class="reveal reveal-ecommerce" id="{{id-data}}" data-reveal>
		<button type="button" class="close-button close-button-sticky" data-close aria-label="Close reveal">
				<span aria-hidden="true">&times;</span>
		</button>
		<header class="main-header">
			<h1 class="h1-modal" id="modalTitle">{{item-name}}</h1>
		</header>
		<div class="main-content">
			<p id="modalDescription">{{item-description}}</p>
			<p class="allergeni {{class-allergeni}}">Allergeni: {{item-allergeni}}</p>
			<label class="{{class-note}}"><strong>Note</strong>
				<textarea maxlength="" id="" placeholder=".........."></textarea>
			</label>
			<label class="{{class-cottura}}"><strong>Cottura</strong>
				<select>
					<option value="medio">Media</option>
					<option value="moltoalsangue">Molto al sangue</option>
					<option value="alsangue">Al sangue</option>
					<option value="bencotta">Ben cotta</option>
				</select>
			</label>
		</div>
		<footer class="main-footer">
			<div class="input-group input-number-group">
				<div class="input-group-button">
					<span class="input-number-decrement">&ndash;</span>
				</div>
				<input class="input-number" type="button" value="1" min="0" max="30">
				<div class="input-group-button">
					<span class="input-number-increment">&plus;</span>
				</div>
			</div>
			<button type="button" class="button expanded-with-padding extra-space-button-modal">
				Aggiungi al carrello <span class="price"> €{{item-price}}</span>
			</button>
		</footer>
	</div>
</div>