<div class="cell">
	<div class="hide-for-medium">
		<div id="product-page">
            <div class="item-image">
            	<img src="{{root}}{{item-image-1-1}}" alt="{{alt-image}}">
            </div>
            <div class="item-text">
                <h3>{{item-name}}<span class="price">{{item-price}}</span></h3>
				<p class="{{class-description}}">{{item-description-short}}</p>
            </div>
            <div class="item-button">
               <button type="button" class="button small" style="margin-bottom: 0;" data-open="{{id-data}}">Aggiungi al Carrello</button>
            </div>
        </div>
	</div>
	<div class="show-for-medium">
		<div class="card">
			<div class="card-section">
				<img class="show-for-medium" src="{{root}}{{item-image-16-9}}" alt="{{alt-image}}">
				<h3>{{item-name}}<span class="price">{{item-price}}</span></h3>
				<p class="{{class-description}}">{{item-description}}<br><small>Allergeni: {{item-allergeni}}</small></p>
				<button type="button" class="button small" data-open="{{id-data}}">Aggiungi al Carrello</button>
			</div>
		</div>
	</div>
</div>
<!-- modal -->
<div class="reveal reveal-ecommerce" id="{{id-data}}" data-reveal>
	<button type="button" class="close-button close-button-sticky" data-close aria-label="Close reveal">
			<span aria-hidden="true">&times;</span>
	</button>
	<img src="{{item-image-16-9}}" style="margin-top:-3rem;" alt="{{alt-image}}">
	<header class="main-header">
		<h1 class="h1-modal" id="modalTitle">{{item-name}}</h1>
	</header>
	<div class="main-content">
		<p id="modalDescription">{{item-description}}<br><small class="allergeni">Allergeni: {{item-allergeni}}</small></p>
		<label class="{{class-note}}"><strong>Note</strong>
			<textarea maxlength="200" id="" placeholder="..." style="min-height: 0.5rem;"></textarea>
		</label>
		<label class="{{class-cottura}}"><strong>Cottura</strong>
			<select>
				<option value="medio">Media</option>
				<option value="moltoalsangue">Molto al sangue</option>
				<option value="alsangue">Al sangue</option>
				<option value="bencotta">Ben cotta</option>
			</select>
		</label>
	</div>
	<footer class="main-footer-carrello-small">
        <div class="input-group input-number-group">
            <div class="input-group-button">
                <span class="input-number-decrement"><i class="las la-minus-square la-2x"></i></span>
            </div>
            <input class="input-number" style="width:3rem;" type="button" value="2" min="0" max="30">
            <div class="input-group-button">
                <span class="input-number-increment"><i class="las la-plus-square la-2x"></i></span>
            </div>
        </div>
		<button type="button" class="button expanded-with-padding extra-space-button-modal">
			Aggiungi al carrello <span class="price"> € {{item-price}}</span>
		</button>
	</footer>
</div>