<div id="signup-login" class="reveal reveal-ecommerce grid-x grid-margin-x grid-margin-y main-container" data-reveal-id='signup-login' data-reveal>
    {{#ifpage 'riserva-un-tavolo'}}
    <header class="main-header">
        <h2 class="h2-titolo-carrello"></h2>
        <button type="button" class="close-button close-button-carrello" data-close aria-label="Close reveal">
            <span aria-hidden="true">&times;</span>
        </button>
    </header>
    {{/ifpage}}
    {{#unlesspage 'riserva-un-tavolo'}}
    <header class="main-header border-bottom">
        <h2 class="h2-titolo-carrello">Accedi o Registrati</h2>
        <button type="button" class="close-button close-button-carrello" data-close aria-label="Close reveal">
            <span aria-hidden="true">&times;</span>
        </button>
    </header>
    {{/unlesspage}}
    <form autocomplete="on">
        <div class="grid-x grid-padding-x">
            <div class="small-12 cell">
                <h2 class="h2-carrello">Accedi</h2>
            </div>
            <div class="small-10 cell">
                <label for="email-login"><strong>Email</strong>
                    <input id="email-login" type="email" autocomplete="username" name="email-login" class="required error email" placeholder=""/>
                </label>
            </div>
            <div class="small-8 cell">
                <label for="password-login"><strong>Password</strong>
                    <input id="password-login" type="password" name="password-login" class="required error password" autocomplete="current-password"/>
                </label>
            </div>
            <div class="small-12 cell extra-space-button">
                <button class="button submit" id="login-btn" type="button">Accedi</button>
            </div>
            <div class="small-12 cell extra-space-button">
                <p><a href="#">Non ricordo la password</a></p>
            </div>
        </div>
    </form>
   <!--  <div class="grid-x grid-padding-x grid-margin-y">
        <div class="small-12 cell">
            <h5 class="text-center subheader">oppure</h5>
        </div>
    </div> -->
    <!-- <div class="grid-x grid-padding-x grid-padding-y">
        <div class="small-12 cell">
            <button type="button" class="button">Accedi con Facebook</button>
            <button type="button" class="button alert">Accedi con Google</button>
        </div>
    </div> -->
    <form autocomplete="on">
        <div class="grid-x grid-padding-x extra-space">
            <div class="small-12 cell">
                <h2 class="h2-carrello">Registrati</h2>
            </div>
            <div class="small-6 medium-6 cell">
                <label for="name"><strong>Nome*</strong>
                    <input type="text" autocomplete="given-name" class="required error" id="name" name="name" maxlength="20"/>
                </label>
            </div>
            <div class="small-6 medium-6 cell">
                <label for="surname"><strong>Cognome*</strong>
                    <input type="text" autocomplete="family-name" class="required error" id="surname" name="surname" maxlength="35"/>
                </label>
            </div>
            <div class="small-10  medium-8 cell">
                <label for="email"><strong>Email (la tua username)*</strong>
                    <input type="email" autocomplete="email" class="required error" id="email" name="email" maxlength="200"/>
                  </label>
            </div>
            <div class="small-6 medium-4 cell">
                <label for="telephone"><strong>Telefono*</strong>
                    <input type="tel" autocomplete="tel" class="required error" id="telephone" name="telephone" maxlength="35"/>
                </label>
            </div>
            <div class="small-8 cell">
                <label for="password"><strong>Password*</strong>
                     <input id="password" autocomplete="new-password" type="password" name="password" class="required error password"/>
                </label>
            </div>
            <div class="small-12 cell">
                <label class="container-checkbox">
                    <input id="newsletter" type="checkbox">
                        <span class="checkmark"></span>Vorrei ricevere aggiornamenti e novità
                </label>
            </div>
            <div class="small-12 cell extra-space-button">
                <button class="button submit" style="margin-bottom:3rem" id="register-btn" type="button">Registrati</button>
            </div>
        </div>
    </form>
    <footer class="main-footer border-top">
        <div class="grid-x grid-padding-x">
            <div class="small-12 cell">
                <p class="text-center">Procedendo acconsenti integralmente a<br><a href="{{root}}informazioni-legali.html#terminiCondizioni" target="_blank" rel="noopener">Termini e Condizioni <i class="las la-external-link-alt"></i></a> e <a href="{{root}}informazioni-legali.html#privacy" target="_blank" rel="noopener">Privacy <i class="las la-external-link-alt"></i></a></p>
            </div>
        </div>
    </footer>
</div>